.quantity-input {
    max-width: 120px;
}

.cart-product-img {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

@media (max-width: 768px) {
    .card-title {
        font-size: 1rem;
    }
    
    .quantity-input {
        max-width: 100px;
    }
}
